<!DOCTYPE html>
<html>

<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>
  <script>
    function reqListener() {
      console.log(this.responseText);
    }

    console.log('<%= process.env.__dirname %>');
    console.log(window.location.href);

    var oReq = new XMLHttpRequest();
    oReq.addEventListener("load", reqListener);
    oReq.open("GET", window.location.href + "api");
    oReq.send();
  </script>
  <%- include ("../partials/nav.ejs") %>
</body>

</html>