<!DOCTYPE html>
<html>

<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>
  <script>
    function reqListener() {
      console.log(this.responseText);
    }

    console.log('<%= process.env.__dirname %>');

    // var oReq = new XMLHttpRequest();
    // oReq.addEventListener("load", reqListener);
    // oReq.open("GET", "http://www.example.org/example.txt");
    // oReq.send();
  </script>
  <%- include ("../partials/nav.ejs") %>
</body>

</html>